* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body
{
    background-color: whitesmoke;
}

.title-page
{
    margin-top: 50px;
    margin-bottom: 20px;
}

.form 
{
    display: inline-block;
    font-size: 24px;
}

.label-options
{
    display: block;
    width: 240px;
    font-size: 18px;
}

.input
{
    margin-top: 16px;
    width: 240px;
    font-size: 24px;
}

#input2
{
    font-weight: bold;
    background-color: green;
    color: black;
}

#input2::placeholder
{
    color: black;
    opacity: 25%;
}
